.container{
    width:auto;
    height: 600px;
    background-image: url('../img/background.jpg');
}
.picture{
    text-align: center;
}
.picture img{
    height:200px;
    width:500px
}
.picture a img{
    height:200px;
    width:400px
}